*  {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}
body{
    background-color: #e9ecef;
}
header {
    text-align: center;
    height: 100px;
    background-color: #adb5bd;
    color: white;
    padding: 10px;
}
h1 {
    padding: 20px;
}

h2 {
    padding: 30px;
    text-align: center;
}

a {
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    color: white;
}

a:hover {
    color: #7bdff2;
}

.card1 {
    background-color: #ced4da;
    padding: 20px;
    border-radius: 7px;
    width: fit-content;
    text-align: center;
    margin: auto;
}
img {
    border-radius: 7px;
}
section {
    display: flex;
}